@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/violet.css';
span {
  border: 0;
  width: 0;
  height: 0;
  margin: 0;
  position: absolute;
}

.sidebar-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 100vh;
  width: 17%;
  max-width: 17%;
  background-color: #1A1B1E;
  position: fixed;
  left: 0px;
  top: 0px;
}
.sidebar-container .sidebar {
  margin-top: 5vh;
  margin-bottom: 2vh;
  height: 90vh;
  padding-left: 2rem;
  padding-right: 2rem;
  border-right: 4px solid #0b0c0c;
}
@media only screen and (min-width: 1355px) {
  .sidebar-container .sidebar {
    margin-top: 8vh;
    font-size: 50px;
    padding-right: 0.8rem;
    height: 85vh;
  }
}

.header {
  display: flex;
  align-items: center;
  color: #C1C2C5;
  border-bottom: 3px solid #0b0c0c;
  margin-bottom: 2rem;
}
.header h2 {
  margin: 0;
  padding-bottom: 5px;
  font-size: 2rem;
  width: 100%;
}
@media only screen and (min-width: 1355px) {
  .header h2 {
    font-size: 1.9rem;
  }
}
@media only screen and (min-width: 1920px) {
  .header h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1355px) {
  svg {
    font-size: 50px;
    padding-right: 0.8rem;
  }
}
@media only screen and (min-width: 1920px) {
  svg {
    font-size: 80px;
    padding-right: 1.2rem;
    padding-left: 0.5rem;
  }
}

.delete {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: row;
}
.delete p {
  font-size: 1rem;
}
.delete svg {
  padding-right: 0;
}

.component-container {
  border-bottom: 2px solid #232425;
  margin-right: 10px;
  height: 2.8rem;
  transition: background-color 0.5s ease-in-out;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  background-color: #1A1B1E;
  padding: 5px;
}
.component-container p {
  color: rgba(255, 255, 255, 0.8705882353);
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
  font-size: 14px;
}
.component-container p:hover {
  color: rgba(242, 242, 242, 0.8705882353);
}
.component-container a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8705882353);
  font-size: 15px;
  padding-bottom: 5px;
}
.component-container a:hover {
  color: rgba(242, 242, 242, 0.8705882353);
}

.label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.component-container:hover {
  background-color: #26272c;
}

.ScrollAreaViewport {
  width: 60vw;
  height: 80vh;
  border-radius: inherit;
  margin-bottom: 2rem;
}

.ScrollAreaScrollbar {
  display: flex;
  /* ensures no selection */
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  padding: 2px;
  background: #141517;
  transition: background 160ms ease-out;
}

header {
  height: 110px;
  border-bottom: 4px solid #0b0c0c;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1355px) {
  header {
    height: 110px;
    width: 100%;
  }
}
@media only screen and (min-width: 1920px) {
  header {
    height: 130px;
    width: 100%;
  }
}

form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

input {
  background-color: #1A1B1E;
  border-radius: 5px;
  border: 2px solid #5c5f66;
  padding-left: 10px;
  height: 2rem;
}

input:focus {
  outline: none;
}

input[type=text] {
  color: #C1C2C5;
  font-size: 18px;
}

.url-input {
  flex: 3;
}
.url-input input {
  width: 95%;
}

.label-input {
  flex: 1;
  text-transform: capitalize;
}
.label-input input {
  width: 90%;
}

button {
  flex: 0.5;
  height: 2.43rem;
  border: 2px solid #5c5f66;
  background-color: #1A1B1E;
  border-radius: 5px;
  font-size: 1.2rem;
}

.on {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8705882353);
  background-color: #5c5f66;
  border: 2px solid rgba(255, 255, 255, 0.8705882353);
  transition: color 0.3s ease;
}

.off {
  transition: color 0.3s ease;
  cursor: not-allowed;
}

/* reset */
button {
  all: unset;
}

.AlertDialogOverlay {
  background-color: var(--blackA9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsla(206deg, 22%, 7%, 0.35) 0px 10px 38px -10px, hsla(206deg, 22%, 7%, 0.2) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  margin: 0;
  color: var(--mauve12);
  font-size: 17px;
  font-weight: 500;
}

.AlertDialogDescription {
  margin-bottom: 20px;
  color: var(--mauve11);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}

.Button.violet {
  background-color: white;
  color: var(--violet11);
  box-shadow: 0 2px 10px var(--blackA7);
}

.Button.violet:hover {
  background-color: var(--mauve3);
}

.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}

.Button.red {
  background-color: var(--red4);
  color: var(--red11);
}

.Button.red:hover {
  background-color: var(--red5);
}

.Button.red:focus {
  box-shadow: 0 0 0 2px var(--red7);
}

.Button.mauve {
  background-color: var(--mauve4);
  color: var(--mauve11);
}

.Button.mauve:hover {
  background-color: var(--mauve5);
}

.Button.mauve:focus {
  box-shadow: 0 0 0 2px var(--mauve7);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.8705882353);
  background-color: #1A1B1E;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 1355px) {
  .main {
    margin-left: 8rem;
  }
}
@media only screen and (min-width: 1920px) {
  .main {
    width: 60%;
  }
}/*# sourceMappingURL=global.css.map */