@use "../../sass/variables"as *;



.ScrollAreaViewport {
  width: 60vw;
  height: 80vh;
  border-radius: inherit;
  margin-bottom: 2rem;
}



.ScrollAreaScrollbar {
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  padding: 2px;
  background: $dark7;
  transition: background 160ms ease-out;
}


