$monitor1: 1355px;
$monitor2: 1920px;



$dark1: #C1C2C5;
$dark2: #868e96;
$dark3: #5c5f66;
$dark4: #373A40;
$dark5: #242424;
$dark6: #1A1B1E;
$dark7: #141517;
$dark8: #101113;
$dark9: #0b0c0c;

$white1: #ffffffde


