@use "./variables"as *;

@import "../components/SideBar/SideBar.style";
@import "../components/LinkComponent/LinkComponent.style";
@import "../components/ScrollArea/ScrollArea.style";
@import "../components/HeaderComponent/HeaderComponent.style";


body {
    margin: 0;
    padding: 0;

}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: $white1;
    background-color: $dark6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

}


.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;


}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media only screen and (min-width: $monitor1) {
        & {
            margin-left: 8rem;
            
        }
    }

    @media only screen and (min-width: $monitor2) {
        & {
            width: 60%;
        }
    }
}



