@use "../../sass/variables"as *;

.component-container {
    border-bottom: 2px solid $dark4;
    margin-right: 10px;
    height: 2.8rem;
    transition: background-color 0.5s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: $dark6;
    padding: 5px;


    p {
        color: $white1;
        font-weight: bold;
        margin: 0;
        text-transform: capitalize;
        font-size: 14px;
    }

    p:hover {
        color: darken($white1, $amount: 5);
    }

    a {
        text-decoration: none;
        color: $white1;
        font-size: 15px;
        padding-bottom: 5px;

        
    }

    a:hover {
        color: darken($white1, $amount: 5);
    }

}

.label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}


.component-container:hover {
    background-color: lighten($dark6, $amount: 5);
}


#true {
    background-color: red;
}

#false {
    background-color: green;
}