@use "../../sass/variables"as *;

.component-container {
    margin-top: 5px;
    border-radius: 3px;
    background-color: $dark6;
    padding: 5px;


    @media only screen and (min-width: $monitor1) {
        p {
            margin: 0;
            text-transform: capitalize;
            font-size: 14px;
        }

        a {
            text-decoration: none;
            color: white;
            font-size: 15px;
        }
    }

    @media only screen and (min-width: $monitor2) {

        p {
            margin: 0;
            text-transform: capitalize;
            font-size: 14px;
        }

        a {
            text-decoration: none;
            color: white;
            font-size: 15px;
        }

    }
}