@use "../sass/variables" as *;

.sidebar-container {
    height: 100vh;
    width: 15rem;
    background-color: $dark7;
    position: absolute;
    left: 0px;
    top: 0px;


    .sidebar {
        margin-top: 2rem;
        height: 34rem;
        border-right: 4px solid $dark9;
        background-color: red;

       
    }

}